:root {
  --jumbotron-padding-y: 3rem;
}

.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer p {
  margin-bottom: .25rem;
}

/* My CSS code */
.carousel-inner img {
  height: 500px;
  width: 100%;
  object-fit: contain;
}

.carousel-control-next,
.carousel-control-prev {
  width: auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 25px;
  height: 50px;
}

.carousel-control-next-icon:hover,
.carousel-control-prev-icon:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

#slideshow {
  border: 5px solid whitesmoke;
  box-shadow: 0px 0px 5px 2px black;
}

.img-circle {
  border-radius: 50%;
  height: 200px;
  width: 200x;
  border-color: black;
  object-fit: fill;
}

.col-sm-4 {
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.card-img-top {
  height: 20em;
  cursor: pointer;
}

a #logout {
  color: white;
}

input[type="checkbox"] {
  float: right;
  height: 20px;
  width: 20px;
}

#download_all,
#move_all {
  float: right;
}

#fullscreen-bar {
  display: block;
  width: 100%;
}

#toggle {
  background-color: transparent;
  float: right;
  padding: 0;
}

#fullscreen.fullscreen img {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#close {
  z-index: 2;
  height: 20px;
  width: 20px;
  font-size: 10px;
  font-family: tahoma;
  margin-top: 2px;
  margin-right: 10px;
  position: fixed;
  top: 0;
  right: 0;
  background: none;
  border: none;
  outline: none;
}

.fa-close {
  color: white;
}

a#next.carousel-control-next,
a#previous.carousel-control-prev {
  height: 500px;
}

.card-text:first-of-type {
  cursor: pointer;
}

.card-text:first-of-type:hover {
  font-weight: bolder;
  cursor: pointer;
}